*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
button{
  background-color: #ff9610;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
button a{
  color: white;
  font-size: 15px;
  text-decoration: none;
 
}
table {
  background-color: white;
}
th, td {
  color: black;
  padding: 20px;
  text-align: left;
  white-space: nowrap;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.body{
  min-height: 100%;
  height: 95vh;
  width: 100%;
}
/* Sidebar */
.sidebar{
  position: fixed;
  height: 100%;
  width: 250px;
  background: #003f5a;
  transition: all 0.5s ease;
  overflow: scroll;
}

.sidebar.active{
  width: 500px;
}
.sidebar .logo-details{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 26px;
  font-weight: 500;
  color: #ff9610;
  min-width: 60px;
  text-align: center;
}
.sidebar .logo-details .logo_name{
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-left: 8px;
}

.sidebar .admin-nav-links{
  margin-top: 16px;
}

.sidebar .admin-nav-links li{
  height: 50px;
  width: 100%;
  list-style: none;
}


.sidebar .admin-nav-links li a{
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 text-decoration: none;

}

.sidebar .admin-nav-links li a{
  min-width: 60px;
  text-align: center;
  color: white;
  font-size: 18px;
}

.sidebar .admin-nav-links li a i{
  min-width: 60px;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar .admin-nav-links li a i:hover{
  background-color: #ff9610;
  color: #003f5a;
}

.sidebar .admin-nav-links li a .form_name{
  margin-left: 10px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .admin-nav-links li a .form_name:hover{
  font-size: 16px;
  color: #ff9610;
}

/* Admin section */
.admin-section{
  background: #d7e3ee;
  position: relative;
  min-height: 100vh;
  width: calc(100% - 60px);
  left:60px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .admin-section{
  width: calc(100% - 260px);
  left: 260px;
}
.admin-section nav{
  height: 80px;
  background: white;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  position: fixed;
  width: calc(100% - 60px);
}
.admin-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}
.admin-section nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
  
}
.admin-section nav .sidebar-button span{
  padding: 10px;
  
}
.admin-section nav .user-name{
  padding: 5px;
  
}

.admin-section .form{
  padding: 50px;
}

.admin-section .form-container{
  padding: 250px;
  padding-top: 100px;
  min-height: 100%;
}

@media screen and (max-width: 1500px) {
  .sidebar .admin-nav-links li a i{
    min-width: 60px;
    text-align: center;
    font-size: 28px;
  }
  .admin-section .form-container{
    padding: 50px;
  }
 }
