{% extends "mrtr/base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-2 w-container"></div>
<div class="div_block">
    <center>
        <h1 class="heading-4" style="color: white;">
            ABOUT US
        </h1>
    </center>
  <div class="flex-container">
    <div class="display-box" style="height: 420px">
        <h3>
            son
        </h3>
       <img src="https://scontent.fslc3-2.fna.fbcdn.net/v/t1.6435-9/40638280_2469851116575334_3931116650438328320_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=JaCofSnrkfEAX-pH-5-&_nc_ht=scontent.fslc3-2.fna&oh=00_AfDvfv_FD_x9d0tsD8DyyS1YgK_IFTVZZAjWVso04eNNLw&oe=64480CF7"></img>
    </div>
    <div class="display-box" style="height: 250px">
        <h3>
            Health
        </h3>
        <p>
            MRTR has information relating to health care services needed for treatment, IOP, mental health and TAM.
        </p>
    </div>
</div>
</div>
{% endblock content %}