{% load crispy_forms_tags %}
{% block start %}

<div class="content-section col-md-8 col-md-offset-2">
    <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% if validlink %}
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy}}
          <center>
            <button type="submit">Reset Password</button>
         </center>
        </fieldset>
    </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

    </div>
    {% endblock start %}