{% extends "mrtr/base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<title>Home - MRTR</title>
<div class="container-2 w-container">
    <h1 class="heading">Your Road to Recovery</h1>
    <h3 class="heading-2">Offering affordable, All Inclusive Sober Living</h3>
    <a href="#" class="button-4 w-button">CONTACT US</a>
</div>
<div class="hero-heading-left">
    <div class="container f2wf-columns">
        <div class="column">
            <div class="column">
                <h1 class="title-copy-goes-here-be-awesome">WHO WE ARE</h1>
                <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat">Mohr Roads to Recovery is a licensed and established sober living, operating houses in Sugar House, Liberty Wells, and the Avenues since 2018. We offer all inclusive, well furnished, and move in ready single and double occupancy rooms.</p>
            </div>
            <div class="actions"></div>
        </div>
        <div class="column-2">
            <div class="image-wrapper">
                <img src="{% static 'resources\IMG_E0777-768x576.jpg' %}" alt="" class="image-2"/>
            </div>
        </div>
    </div>
</div>
<div class="div-block-2">
    <center>
        <h1 class="heading-4">TESTIMONIALS</h1>
    </center>
    <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
            <div data-w-id="923fbc13-9ed7-cd01-07e5-424b3da02260" style="opacity:0" class="w-slide">
                <div class="logos f2wf-columns">
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\de-nova-300-dpi-moderate-230x165.png' %}" loading="lazy" alt="" class="mrtr-logo-3_1-1"/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\ezgif.com-gif-maker-230x227.jpg' %}" loading="lazy" class="mrtr-logo-3_1-1"/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\logo-230x78.png' %}" loading="lazy" alt="" class="mrtr-logo-3_1-1"/>
                    </div>
                </div>
            </div>
            <div class="w-slide">
                <div class="logos f2wf-columns">
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\logo-light-230x36.png' %}" loading="lazy" alt="" class="mrtr-logo-3_1-1"/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\recovery-ways-230x76.png' %}" loading="lazy" alt="" class="mrtr-logo-3_1-1"/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\seventh-street-treatment-center-salt-lake-city-ut-363f9af2.png' %}" loading="lazy" alt=""/>
                    </div>
                </div>
            </div>
            <div class="w-slide">
                <div class="logos f2wf-columns">
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\usara-230x121.png' %}" loading="lazy" alt=""/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\VOAUT_Logo_for_website_V2-230x61.png' %}" loading="lazy" alt="" class="mrtr-logo-3_1-1"/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\VOAUT_Logo_for_website_V2-230x61.png' %}" loading="lazy" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-slider-arrow-left"></div>
        <div class="right-arrow w-slider-arrow-right"></div>
        <div class="slide-nav w-slider-nav w-round w-num"></div>
    </div>
</div>
<div class="div-block">
    <h1 class="heading-3">OUR PARTNERS</h1>
    <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
            <div data-w-id="923fbc13-9ed7-cd01-07e5-424b3da02260" style="opacity:0" class="w-slide">
                <div class="logos f2wf-columns">
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\de-nova-300-dpi-moderate-230x165.png' %}" loading="lazy" alt="" class="mrtr-logo-3_1-1"/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\ezgif.com-gif-maker-230x227.jpg' %}" loading="lazy" class="mrtr-logo-3_1-1"/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\logo-230x78.png' %}" loading="lazy" alt="" class="mrtr-logo-3_1-1"/>
                    </div>
                </div>
            </div>
            <div class="w-slide">
                <div class="logos f2wf-columns">
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\logo-light-230x36.png' %}" loading="lazy" alt="" class="mrtr-logo-3_1-1"/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\recovery-ways-230x76.png' %}" loading="lazy" alt="" class="mrtr-logo-3_1-1"/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\seventh-street-treatment-center-salt-lake-city-ut-363f9af2.png' %}" loading="lazy" alt=""/>
                    </div>
                </div>
            </div>
            <div class="w-slide">
                <div class="logos f2wf-columns">
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\usara-230x121.png' %}" loading="lazy" alt=""/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\VOAUT_Logo_for_website_V2-230x61.png' %}" loading="lazy" alt="" class="mrtr-logo-3_1-1"/>
                    </div>
                    <div class="logo-wrapper">
                        <img src="{% static 'resources\VOAUT_Logo_for_website_V2-230x61.png' %}" loading="lazy" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-slider-arrow-left"></div>
        <div class="right-arrow w-slider-arrow-right"></div>
        <div class="slide-nav w-slider-nav w-round w-num"></div>
    </div>
</div>
<div class="div-block">
    <center>
    <h1 class="heading-4">CONTACT US</h1>
    </center>
    <div style="margin:80px">
		<h4>Contact us directly if you have any questions</h4>
		<p>
			Please write your name, email address and a message below if you have any questions.
		</p>
		<form method="post">
        {% csrf_token %}
            {{form | crispy}}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}