{% extends "mrtr/base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-2 w-container"></div>
<div class="div-block">
    <center>
        <h1 class="heading-4" style="color: white;">
            ROOMS FOR RENT
        </h1>
    </center>
    <p>
        We currently have 8 sites with availability for 56 occupants. Offering shared and private rooms, each home has a manager on site and is in close proximity to sober community resources. Please contact us for current openings.
    </p>
    <a href="#" class="button-4 w-button">CONTACT US</a>

</div>
{% endblock content %}