{% extends "mrtr/base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-2 w-container"></div>
<div class="div_block">
    <center>
        <h1 class="heading-4" style="color: white;">
            PAYMENT OPTIONS
        </h1>
    </center>
<div class="flex-container">
    <div class="display-box">
        <h3>
            Financial
        </h3>
        <p>
            Incentive program for all clients accruing weekly and awarded after 6 months in good standing with MRTR.
        </p>
    </div>
    <div class="display-box">
        <h3>
            Communication
        </h3>
        <p>
            Clients and individual house managers are in direct contact with treatment centers, Certified Peer Support and Lead House Manager.
        </p>
    </div>
    <div class="display-box">
        <h3>
            Service Work
        </h3>
        <p>
            MRTR is provided with many ways to involve clients for service projects within the community.
        </p>
    </div>
  </div>
  <div class="flex-container">
    <div class="display-box" style="height: 250px">
        <h3>
            Schedule
        </h3>
        <p>
            Weekly house meetings and recovery meeting cards. Teaching clients healthy communication and commitment to their recovery.
        </p>
    </div>
    <div class="display-box" style="height: 250px">
        <h3>
            Health
        </h3>
        <p>
            MRTR has information relating to health care services needed for treatment, IOP, mental health and TAM.
        </p>
    </div>
    <div class="display-box" style="height: 250px">
        <h3>
            Anger Management
        </h1>
        <p>
            Two Certified Peer Support Specialist accessible to all clients to resolve conflict. MRTR can also refer you to a therapist for consultation for any mental health needs.
        </p>
    </div>
</div>
</div>
{% endblock content %}