{% extends "mrtr/base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<script src="https://kit.fontawesome.com/fcadbe5b93.js" crossorigin="anonymous"></script>
<div class="container-2 w-container"></div>
<div class="div_block">
    <center>
        <h1 class="heading-4" style="color: white;">
            SOBRIETY SUPPORT
        </h1>
    </center>
<div class="flex-container">
    <div class="display-box">
        <span class="fa-stack fa-2x card-icon " style="--fa-inverse: #ff9610;">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-piggy-bank fa-stack-1x fa-inverse"></i>
          </span>
        <h3 class="card-title">
            Financial
        </h3>
        <p class="card-detail">
            MRTR offers an incentive program for all clients accruing weekly and awarded after 6 months in good standing with MRTR.
        </p>
    </div>
    <div class="display-box">
        <span class="fa-stack fa-2x card-icon " style="--fa-inverse: #ff9610;">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-comments fa-stack-1x fa-inverse"></i>
          </span>
        <h3 class="card-title">
            Communication
        </h3>
        <p class="card-detail">
            Clients and individual house managers are in direct contact with treatment centers, Certified Peer Support and Lead House Manager.
        </p>
    </div>
    <div class="display-box">
        <span class="fa-stack fa-2x card-icon " style="--fa-inverse: #ff9610;">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-handshake-angle fa-stack-1x fa-inverse"></i>
          </span>
        <h3 class="card-title">
            Service Work
        </h3>
        <p class="card-detail">
            MRTR can provide connections for clients to involve themselves with service projects within the community.
        </p>
    </div>
  </div>
  <div class="flex-container">
    <div class="display-box">
        <span class="fa-stack fa-2x card-icon " style="--fa-inverse: #ff9610;">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-calendar fa-stack-1x fa-inverse"></i>
          </span>
        <h3 class="card-title">
            Schedule
        </h3>
        <p class="card-detail">
            Weekly house meetings and recovery meeting cards. Teaching clients healthy communication with their peers and commitment to their recovery.
        </p>
    </div>
    <div class="display-box">
        <span class="fa-stack fa-2x card-icon " style="--fa-inverse: #ff9610;">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-kit-medical fa-stack-1x fa-inverse"></i>
          </span>
        <h3 class="card-title">
            Health
        </h3>
        <p class="card-detail">
            MRTR has information relating to health care services needed for treatment, IOP, mental health and TAM.
        </p>
    </div>
    <div class="display-box">
        <span class="fa-stack fa-2x card-icon " style="--fa-inverse: #ff9610;">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-face-angry fa-stack-1x fa-inverse"></i>
          </span>
        <h3 class="card-title">
            Anger Management
        </h1>
        <p class="card-detail">
            Two Certified Peer Support Specialist are accessible to all clients to resolve conflict. MRTR can also refer you to a therapist for consultation for any mental health needs.
        </p>
    </div>
</div>
</div>
{% endblock content %}