{% extends "admin/administrative.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    table{
        height: 100%;
        width: 100%;
    }
    table, th, td {
        text-align: center;
        border:1px solid black;
        border-collapse: collapse;
    }
        input[type=checkbox] {
        vertical-align: middle;
        position: relative;
        bottom: -25px;
        left: -400px
    }
    label {
        display: block;
    }
    .container{
        padding: 16px 16px 16px 16px;
        border-style: solid;
        background-color: white;
        border-color: white;
        border-radius: 5px;
        text-align: left;
        margin: 15px;
        justify-content: left;
    }
    @media screen and (max-width: 1500px) {
        .container{
            margin-top: 50px;
            height: 100%;
            width: 100%;
        }
    }
    
   
</style>
<div class="container">
    <form class= "form" action="" method="post">
        {%  csrf_token %}
        {{ form | crispy}}
        <input type="hidden" name="rdr" value="{{ rdr }}">
        <input type="submit">    </form>
    {% if messages %}
        <ul class="messages">
    {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock content %}