{% extends "admin/administrative.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html>
    <div style="overflow-x:auto; padding:50px;" >
    <style>
        table, th, td {
            text-align: left;
            border:1px solid black;
            border-collapse: collapse;
        }
        section {
            margin-bottom: 30px;
        }
        h1 {
            font-size: 36px;
        }
        h2 {
            margin-bottom: 10px;
        }
    </style>
    <body>
        <section>
            <h1>{{ name }}</h1>
            {% for x in headers %}
                <h2>{{ x }}</h2>
            {% endfor %}
        </section>
        <section>
            <form>
                {% for x in buttons %}
                    <button type="submit" formaction="{{ x.1 }}">{{ x.0 }}</button>
                {% endfor %}
            </form>
        </section>
        {% for tbls in ptables %}
            <section>
                <h2>{{ tbls.0 }}</h2>
                {% if tbls.1 %}
                    {% render_table tbls.2 %}
                {% else %}
                    <table>
                        {% for x in tbls.2 %}
                            <tr>
                                <th>{{x.0}}</th>
                                <td>{{x.1}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </section>
        {% endfor %}
{#        <section>#}
{#            {% for tbls in ptables %}#}
{#                <h2>{{ tbls.0 }}</h2>#}
{#                {% if tbls.1 %}#}
{#                    {% render_table tbls.2 %}#}
{#                {% else %}#}
{#                    <table>#}
{#                        {% for x in tbls.2 %}#}
{#                            <tr>#}
{#                                <th>{{x.0}}</th>#}
{#                                <td>{{x.1}}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    </table>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </section>#}
{#        <section>#}
{#            <h2>Contact Info</h2>#}
{#            <table>#}
{#                {% for x in contact_info %}#}
{#                <tr>#}
{#                    <th>{{x.0}}</th>#}
{#                    <td>{{x.1}}</td>#}
{#                </tr>#}
{#                {% endfor %}#}
{#            </table>#}
{#        </section>#}
        <section>
            <h2>Resident Details</h2>
            <table>
                {% for x in res_details %}
                <tr>
                    <th>{{x.0}}</th>
                    <td>{{x.1}}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
        <section>
            <h2>Ledger</h2>
            {% render_table ledger %}
        </section>
    </body>
</div>
</html>
{% endblock content %}