{% extends "admin/administrative.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!doctype html>
<html>
    <style>
        table, th, td {
            text-align: left;
            border:1px solid black;
            border-collapse: collapse;
        }
        section {
            margin-bottom: 30px;
        }
    </style>
    <body>
        <section>
            <button type="button">
                <a href="{{ button_link }}">{{ button_name }}</a>
            </button>
        </section>
        <section>
            {% render_table table %}
        </section>
    </body>
</html>
{% endblock content %}